@import "../../../styles";

:host {
  width: 100%;
  height: 15px;
  border-radius: 2px;
  margin-bottom: 20px;
  background-color: $input-and-progress-bar-background-color;
  display: flex;

  div {
    height: 100%;
  }

  .in-progress-tasks {
    background-color: blue;
  }

  .postponed-tasks {
    background-color: pink;
  }

  .completed-tasks {
    background-color: green;
  }
}
