<div class="container">
  <app-date></app-date>
  <div class="filter-wrapper">
    <input [formControl]="filterFormControl" placeholder="Filter" type="text">
  </div>
  <app-progress-bar [progressBar]="progressBar"></app-progress-bar>
  <div class="add-item-wrapper">
    <input (keyup.enter)="addItem()" [formControl]="itemFormControl" placeholder="Add new item" type="text">
    <button (click)="addItem()" [disabled]="itemFormControl.invalid">
      <mat-icon>add icon</mat-icon>
    </button>
  </div>
  <app-tasks #inProgress="cdkDropList"
             (actionEmitter)="getAction()"
             (cdkDropListDropped)="drop($event)"
             [availableActions]="TASKS_STATUS.IN_PROGRESS.availableActions"
             [cdkDropListConnectedTo]="[postponed, completed]"
             [cdkDropListData]="inProgressTasks"
             [id]="TASKS_STATUS.IN_PROGRESS.type"
             [tasks]="inProgressTasks"
             [title]="TASKS_STATUS.IN_PROGRESS.text"
             cdkDropList>
  </app-tasks>
  <app-tasks #postponed="cdkDropList"
             (actionEmitter)="getAction()"
             (cdkDropListDropped)="drop($event)"
             [availableActions]="TASKS_STATUS.POSTPONED.availableActions"
             [cdkDropListConnectedTo]="[inProgress, completed]"
             [cdkDropListData]="postponedTasks"
             [id]="TASKS_STATUS.POSTPONED.type"
             [tasks]="postponedTasks"
             [title]="TASKS_STATUS.POSTPONED.text"
             cdkDropList>
  </app-tasks>
  <app-tasks #completed="cdkDropList"
             (actionEmitter)="getAction()"
             (cdkDropListDropped)="drop($event)"
             [availableActions]="TASKS_STATUS.COMPLETED.availableActions"
             [cdkDropListConnectedTo]="[inProgress, postponed]"
             [cdkDropListData]="completedTasks"
             [id]="TASKS_STATUS.COMPLETED.type"
             [tasks]="completedTasks"
             [title]="TASKS_STATUS.COMPLETED.text"
             cdkDropList>
  </app-tasks>
  <button (click)="resetItems()" [disabled]="inProgressTasks.length === 0 && postponedTasks.length === 0 && completedTasks.length === 0" class="reset">
    reset progress
  </button>
</div>
