/* You can add global styles to this file, and also import other style files */

$container-background-color: #403f4d;
$container-text-color: #fbfafb;
$input-and-progress-bar-background-color: #2e2d34;
$item-background-color: #4e4e5c;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

@mixin setInput {
  all: unset;
  background-color: $input-and-progress-bar-background-color;
  padding: 15px 10px;
  flex: 1;
}
